@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- main-content -->
<div class="main-content">
    <div class="row">

        @if (TempData["msgErr"] != null)
        {
            <div class="col-md-12 text-center alert alert-danger">
                @TempData["msgErr"].ToString()
            </div>
        }

        @if (TempData["msgSuccess"] != null)
        {
            <div class="col-md-12 text-center alert alert-success">

                @TempData["msgSuccess"].ToString()
            </div>
        }
        <div class="col-xl-12 col-lg-12">
            <div class="panel mb-g">
                <div class="panel-heading">
                    <h3>Product Enquiry</h3>
                </div>
                <div class="panel-body">
                    <div class="ecommerce-table">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Sr. No.</th>

                                        <th scope="col">Full Name</th>
                                        <th scope="col">Contact Number.</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Product Title</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">URL</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        var sr = 0;
                                        foreach (var item in Model)
                                        {

                                            sr = sr + 1;
                                    <tr>
                                        <td>@sr</td>
                                        
                                        <td>@item.contact_name</td>
                                        <td>@item.mobile</td>
                                        <td>@item.email</td>
                                        <td>@item.product_title</td>
                                        <td>@item.created_at</td>
                                        <td><a href="@item.product_url" class="btn btn-sm btn-success" target="_blank"><i class="bi bi-book-fill"></i></a></td>



                                        <td>
                                            <div class="btn-box">
                                                @*<a href="~/Admin/AddCategory/@item.contact_id" class="btn btn-sm btn-success"><i class="bi bi-pencil-square"></i></a>*@
                                                <a href="~/Admin/DeletePermanentProductEnq/@item.ID/Del/1/1" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan='3'><div class='alert alert-warning'><center>Record not found!</center></div></td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- main-content -->
