@model Benitton.Models.ViewProducts
@{
    ViewBag.Title = "UpdateSubcategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- main-content -->
<div class="main-content">
    <div class="panel mb-g DivAdd1">
        <div class="panel-heading">
            <h3>
                <div class="col-sm-12 row">
                    <div class="col-sm-4"><a href="/Admin/SubCategory/1/1" id="" class="btn btn-sm btn-success buttonHideShow"><i class="bi bi-add-square"></i>Cancel</a></div>
                    <div class="col-sm-4">
                        Add Sub Category
                    </div>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" id="form_UpdateSubCategory">
                <input type="hidden" name="oldImgPath_1" id="oldImgPath_1" value="@Model.tbl_singleSubCategory">
                
                <input type="hidden" name="Pid" id="Pid" value="@Model.tbl_singleSubCategory.ID">
                <div class="row">

                    <div class="col-sm-3 mb-15">
                        <label for="exampleInputName" class="form-label">Select Category</label>
                        <select class="form-select form-control-lg status-dropdown" name="CategoryID" id="CategoryID" required>
                            <option value="" hidden>Select Category</option>
                            @if (Model != null && Model.categoryMd != null && Model.categoryMd.Any())
                            {
                                foreach (var item in Model.categoryMd)
                                {
                                    if (Model.tbl_singleSubCategory.CategoryID == item.ID)
                                    {
                                        <option value="@item.ID" selected>@item.title</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.title</option>
                                    }
                                }
                            }


                        </select>
                    </div>
                    <div class="col-sm-3 mb-15">
                        <label for="exampleInputName" class="form-label">Sub Category</label>
                        <input type="text" name="Title" id="Title" class="form-control form-control-lg" value="@Model.tbl_singleSubCategory.title" placeholder="Sub Category Name">
                    </div>
                    <div class="col-sm-3 mb-15">
                        <label for="exampleInputName" class="form-label">Display on home page</label>
                        <select name="display_on_homeVal" id="display_on_home" class="form-select form-control form-control-lg" required>
                           
                            @{
                                if (Model.tbl_singleSubCategory.display_on_home == true)
                                {
                                    <option value="1" selected>Yes</option>
                                }
                                else
                                {
                                    <option value="0" selected>No</option>
                                }
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            }


                        </select>
                    </div>
                    <div class="col-sm-3 mb-15">
                        <label for="exampleInputName" class="form-label">File size must be less than 500 KB *</label>
                        <input type="file" name="image_file" id="image_file" class="form-control form-control-lg" accept="image/*" />
                    </div>

                    <div class="col-sm-9 mb-15">
                        <label for="">Descriptions</label>
                        <textarea name="detail" id="detail" rows="5" class="form-control ">@Model.tbl_singleSubCategory.detail</textarea>
                    </div>

                    <div class="col-md-3">

                        @if (@Model.tbl_singleSubCategory.image_file != null){<a href="~/@Model.tbl_singleSubCategory.image_file" target="_blank"> <img src="~/@Model.tbl_singleSubCategory.image_file" style="height:100px;width:100px;object-fit:contain;"></a> }
                        </div>

                    <div class="col-sm-9  btn-box justify-content-start">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        <button type="reset" class="btn btn-lg btn-secondary">Reset</button>
                    </div>
                </div>
            </form>


        </div>
    </div>



</div>

<!-- main-content -->
